<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food Nutrition </title>
        <link rel="stylesheet" href="/public/css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Mogra&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body>
		{{{ body }}}
		<script src="/public/js/foodnutrition.js"></script> 
	</body>
</html>
