 <div class="jumbotron">
            <h1 class="display-4"><center>Food And Nutrition</center></h1>
            <hr class="my-4">
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img src="/public/images/pic3.jpg" class="card-img-top" alt="...">
                  <h5 class="card-title">Protine and Grain</h5>
                  <p class="card-text">Your body uses protein to build and repair tissues. You also use protein to make enzymes, hormones, and other body chemicals. 
                    Protein is an important building block of bones, muscles, cartilage, skin, and blood.</p>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </form>
                  <br>
                  <a id="onclick" class="btn btn-primary">Submit</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <img src="/public/images/pic9.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Vegetable and Fruit</h5>
                    <p class="card-text">A diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart disease and stroke, 
                        prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar, 
                        which can help keep appetite in check.</p>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    <br>
                    <a id="onclick" class="btn btn-primary">Submit</a>
                </div>
              </div>
            </div>
          </div>


